@import './base.css';
* {
  padding: 0;
  margin: 0;
  background-color: rgb(48, 21, 199);
  color: aliceblue;
}
form {
  width: 30%;
  margin: 5em auto;
  padding: 3em;

}
input {
  width: 100%;
  padding: .8em;
}

select {
  width: 100%;
}

button {
  width: 100%;
  padding: .8em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

element.style{
   background-color: blueviolet;
}
